@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(43, 43, 45);
}

img {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  border-radius: 16px;
  border-width: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 20px;
  font-weight: 500;
  margin: 0 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #fff;
  text-align: center;
  line-height: 1.25;
}

html {
  overflow-x: hidden;
  overflow-x: initial !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative
}

h1 {
  font-size: 52px;
  color: #fefefe;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #e33a3a;
  color: white;
  padding: 5px 22px;
  border-radius: 16px;
  border: none;
  border-width: 2px;
  padding-left: 2rem;
  margin-top: 1px;
  transition: 300ms all ease;
}

.btn :hover {
  color: #242424;
}

.purple {
  color: #e33a3a;
}

a:hover {
  cursor: pointer;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity all 300ms ease;
}

i:hover {
  opacity: 0.7;
}

textarea:focus,
input:focus {
  outline: none;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black:after {
  background-color: white;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

/* Navigation */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #fff;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #e33a3a;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;

}


.nav__link--anchor-primary:hover {
  background-color: #ff0909;
  cursor: not-allowed;
}

.nav__title {
  font-size: 24px;
  color: #e33a3a;
  margin: 0 12px;
  font-weight: bold;
  cursor: pointer;
}

/* Landing */

#landing {
  background-color: #000000;
}

.home__img--wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
}

.home__search--wrapper {
  max-width: 540px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.movies__search--wrapper {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  margin-top: 28px;
  margin: 0 auto;
}

.search__inputIcon {
  margin: 0 12px;
}

.header__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 56px 0;
}

.books__container {
  padding: 24px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/* FIX IT */


button:hover {
  background-color: white;
  color: #000000;
}

button:active {
  transform: scale(0.9);
}

input {
  background-color: rgba(255, 255, 255, 0.848);
  color: black;
  padding-left: 40px;
}

input:focus {
  outline: none;
}

/* LANDING */

.input__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 100px;
}

/* MOVIES */

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.movie {
  max-width: calc(100% / 3);
  padding: 20px;
  cursor: pointer;
}

.movie:hover .movie__title {
  text-decoration: underline;
}

.movie__img--wrapper:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.movie__title {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: white;
}

/* Movies */

.browse {
  text-align: center;
  font-size: 40px;
  color: white;
}

.search__container {
  display: flex;
  flex-direction: column;
}

.input__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  position: relative;
  max-width: 600px;
}

.searchTxt {
  font-size: 32px;
  margin-top: 40px;
}

.search__text {
  color: white;
  margin-top: 60px;
  margin-left: 20px;
  font-size: 18px;
}

.search__icon {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: #c770fc;
  background-color: transparent;
  transition: all 200ms ease;
}

/* MovieInfo */

/* ArrowBack Icon */
.arrowBack__Icon {
  cursor: pointer;
  color: white;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  top: 200px;
  background: none;
  left: 12px;

}

.movieInfo__container{
  display: flex;
  flex-direction: column;
}

.movieInfo__wrapper {
  height: 1000px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  
}
.movieInfo__poster {
  height: 500px;
  width: 450px;
  /* padding: 0 48px; */
}

.movieInfo__data {
  color: white;
  margin-left: 40px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  
}

.movieInfo__data--para {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  margin: 8px 0;
  font-size: 20px;
}

.movieInfo__data--descriptors {
  font-weight: bold;
  color: antiquewhite;
}

.movieInfo__data--plot {
  padding: 12px;
}

/* Movie Skeleton */

.movie__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__title--skeleton {
  margin-top: 20px;
  width: 180px;
  height: 16px;
  background-color: lightgray;
}

.movie__body {
  padding: 0 8px;
}

.movie__body--skeleton {
  width: 285px;
  height: 420px;
  background-color: lightgray;
}

/* MovieInfo Skeleton */

.movieInfo__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 8px;
}

.movieInfo__title--skeleton {
  margin-top: 20px;
  width: 540px;
  height: 20px;
  background-color: lightgray;
}

.movieInfo__body {
  padding: 0 8px;
}

.movieInfo__body--skeleton {
  background-color: lightgray;
  height: 500px;
  width: 400px;
}

.movieInfo__data--paraskeleton {
  background-color: lightgray;
}

/* MovieInfo Title and Description Skeleton */

.movieInfo__title--top,
.movieInfo__title--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 8px;
}

.movieInfo__title--skeleton--top {
  margin-top: 20px;
  width: 540px;
  height: 72px;
  background-color: lightgray;
  margin-bottom: 24px;
}

.movieInfo__title--skeleton--bottom {
  margin-top: 20px;
  width: 540px;
  height: 50px;
  background-color: lightgray;
  margin-top: 24px;
  padding-top: 12px;
}


/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  .movies {
    max-width: 750px;
  }

  .movie {
    max-width: calc(100% / 2);
  }

  .movieInfo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 250px;
    padding-top: 150px;
  }
  .movieInfo__poster {
    /* padding: 0 60px; */
    margin-top: 150px;
    margin-left: 226px;
    margin-bottom: 25px;
  }

  .movieInfo__data {
    width: 500px;
    margin-left: 250px;
  }

  .movieInfo__body--skeleton {
    margin-left: 50px;
    margin-top: 90px;
    
  }

  .movieInfo__data--plot {
    padding: 12px;
    max-width: 570px;
  }
  .movieInfo__title--skeleton--top{
    margin-bottom: 4px;
  }
  .movieInfo__title--skeleton--bottom{
    margin-top: 20px;
  }
  .arrowBack__Icon {
    top: 50px;
    left: 75px;
  }
}


  @media (max-width: 500px) {
    /* Home */
    .nav__link:not(:last-child) {
      display: none;
    }
    

    p{
      font-size: 16px;
    }

    input{
      width: 50%;
      padding-left: 12px;
    }

    .home__img{
      height: 80%;
      width: 80%;
    }

    .home__img--wrapper{
      display: flex;
      justify-content: center;
    }

    /* Movies */

    .search__text{
      
      margin-left: 0px;
    }
    .movies__search--wrapper{
      width: 100%;
    }



    .movies {
      max-width: 480px;
      transition: all 300ms ease;
    }

    .movie {
      max-width: calc(100% / 1);
    }

    .btn {
      margin-right: 20px;
    }

    /* MovieInfo */

    
    .movieInfo__poster{
      margin-top: 120px;
      width: 350px;
    }

    .movieInfo__data--title{
      max-width: 350px;
      font-size: 24px;
    }

    .movieInfo__data{
      max-width: 350px;
      
    }

    .movieInfo__data--para{
      /* padding: 0 12px 0 24px; */
      padding-right: 60px;
      width: 400px;
    }
    .arrowBack__Icon{
      top: 50px;
      left: 12px;
      width: 200px;
      margin-left: 0;
      margin-right: 0;
    }

    .movieInfo__body--skeleton {
      margin-left: 240px;
      margin-top: 120px;
      
    }

    .movieInfo__data--wrapper{
      margin-left: 200px;
    }

    .movieInfo__title--skeleton--top{
      width: 400px;
    }

    .movieInfo__title--skeleton--bottom{
      width: 400px;
    }
    .movieInfo__title--skeleton{
      width: 400px;
    }
    
  }


